body, html {
	height: 100%;
	margin: 0;
	padding: 0;
  }
  
  .corner-text {
	position: fixed;
	top: 20px;
	left: 20px;
	font-size: 24px;
	font-weight: bold;
	z-index: 2;
	color: #fff;
  }

  .fa-power-off {
	color: #f9cc1b;
  }

  .posicion {
	height: 10%;
	margin: 0;
	padding: 0;
  }

  .social-icons {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
  }
  
  .icon {
	display: inline-block;
	margin: 10px;
	font-size: 32px;
	color: #fcf8f8;
  }
  
  .icon:hover {
	color: #f9cc1b;
	transform: scale(1.5);
  }
  
  .image-link {
	position: absolute;
	top: 10%;
	left: 0px;
	right: 0px;
	bottom: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
  }
  
  .image-link a {
	display: block;
	width: 100%;
	height: 100%;
  }
  
  .container {
	display: flex;
	height: 100%;
  }
  
  .left-panel {
	flex-basis: 50%;
	background-image: url('../img/perfil1.jpeg');
	background-size: cover;
	background-position: center;
	transition: opacity 0.3s ease;
  }
  
  .right-panel {
	flex-basis: 50%;
	background-image: url('../img/perfil3.jpeg');
	background-size: cover;
	background-position: center;
	transition: opacity 0.3s ease;
  }
  
  .overlay {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
  }
  
  .overlay a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
  }

  .content-izq {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 1;
  }

  .content-der {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 1;
  }
  
  h2 {
	margin: 5;
	scale: 2.5;
	color: #f9cc1b;
	font-size: 36px;
	opacity: 0;
	animation: fade-in 3s forwards;
  }
  
  p {
	margin: 1;
	scale: 1;
	color: #b7b6b6;
	font-size: 36px;
	opacity: 0;
	animation: fade-in 6s forwards;
  }

  @media screen and (max-width: 768px) {
	h2 {
	  font-size: 18px;}

	p {
		font-size: 16px;}

	.icon {
		scale: 0.75;
		margin: 5px;}

	.social-icons {
		position: fixed;
		top: 20px;
		width: 180px;
		height: 50px;
		left: 68%;
		z-index: 1;}

 	.content-izq {
		top: 35%;}

  	.content-der {
		top: 70%;}
  }

  @media screen and (max-height: 768px) {
	h2 {
	  font-size: 18px;}

	p {
		font-size: 16px;}

	.icon {
		scale: 0.75;
		margin: 5px;}

	.social-icons {
		position: fixed;
		top: 20px;
		width: 180px;
		height: 50px;
		left: 68%;
		z-index: 1;}

 	.content-izq {
		top: 35%;}

  	.content-der {
		top: 70%;}
  }

  @keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  
  .line {
	position: absolute;
	top: 0;
	left: 50%;
	width: 2px;
	height: 100%;
	background-color: #fff;
	transform: translateX(-50%);
	z-index: 3;
  }
  
  .arrow-left,
  .arrow-right {
	position: absolute;
	top: 50%;
	width: 40px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	transform: translateY(-50%);
	z-index: 4;
	transition: transform 0.5s ease;
	z-index: 3;
  }
  
  .arrow-left {
	left: calc(50% - 50px);
	clip-path: polygon(0 0, 0% 50%, 100% 0);
  }
  
  .arrow-right {
	right: calc(50% - 50px);
	clip-path: polygon(0 100%, 100% 50%, 100% 100%);
  }
  
  .arrow-left:hover,
  .arrow-right:hover {
	background-color: #f9cc1b;
	opacity: 0.5;
	transform: scale(1.2) translateY(-40%);
  }
  
  .left-panel,
  .right-panel {
	transition: opacity 0.8s ease;
  }
  
  .left-panel:hover,
  .right-panel:hover {
	opacity: 0.8;
	transition: 1.0s ease;
  }

  .left-panel:hover img,
  .right-panel:hover img {
	transform: scale(1.55);
	transition: 0.3s ease;
	}

  
  .left-panel:hover {
	background-image: url('../img/perfil2.png');
  }
  
  .right-panel:hover {
	background-image: url('../img/perfil4.png');
  }
  




